{
  "$schema": "https://schemastore.org/prettierrc",
  "semi": true,
  "useTabs": false,
  "trailingComma": "es5",
  "tabWidth": 2,
  "singleQuote": true,
  "endOfLine": "lf",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindStylesheet": "./src/styles/app.css"
}
